{% extends "base.html" %}

{% block content %}
<h1>Team VCAYR's Blog</h1>
<h2>About Us:</h2>
<img src="http://i.ytimg.com/vi/2QqJKL796bg/mqdefault.jpg">

<h3>Chris</h3>
<p>Hi. I like economics.</p>
<h3>Vince</h3>
<p>Hi. I like long walks on the beach and candlelit dinners.</p>

<h3>We're Still Under Development!</h3>
<p>If you have any feature requests, just let us know. Hit us up on one of our email accounts and we'll get to it right away. You name it and we'll rush to build it, the more requests for a certain feature, the higher the priority.
<br>
Vince - Varrogancia [at] gmail.com
<br>
Chris - Christopherha7 [at] gmail.com
</p>
<h3>12/10/14</h3>
<p>Vince here. Slowly getting the hang of putting this website up. Clunky for sure, but better than nothing I guess. Still working on the voting algorithm and the display of the events. That is first priority on the backend side of things. Chris is working on getting the google logins working. We hope to get the first iteration out soon. Bear with us. xoxoXo </p>

{% endblock %}