{% extends "base.html" %}

{% block content %}
<form method="post">
	<div>Event Title</div>
	<input type="string" name="event"placeholder="Event Name">
	<br>
	<br>
	<div>Friends Invited</div>
	<input type="string" name="friend1"placeholder="Name">
	<input type="string" name="friend2"placeholder="Name">
	<input type="string" name="friend3"placeholder="Name">
	<input type="string" name="friend4"placeholder="Name">
	<input type="string" name="friend5"placeholder="Name">
	<br>
	<br>
	<div>Hang1</div>
	<input type="date" name="date1" placeholder="Date">
	<br>
	<input type="time" name="time1">
	<br>
	<input type="string" name="place1" placeholder="Place">
	<br>
	<br>
	<div>Hang2</div>
	<input type="date" name="date2" placeholder="Date">
	<br>
	<input type="time" name="time2">
	<br>
	<input type="string" name="place2" placeholder="Place">
	<br>
	<br>
	<div>Hang3</div>
	<input type="date" name="date3" placeholder="Date">
	<br>
	<input type="time" name="time3">
	<br>
	<input type="string" name="place3" placeholder="Place">
	<br>

	<input type="submit">
</form>
{% endblock %}