{% extends "base.html" %}

{% block content %}
<form>
	<input type="radio" name="hang1" placeholder="Date">
	12/2/2014, 3:00PM, 4556 Apt. 24, Fullerton, CA
	<br>
	<input type="radio" name="hang2" placeholder="Date">
	12/2/2014, 3:00PM, 4556 Apt. 24, Fullerton, CA
	<br>
	<input type="radio" name="hang3" placeholder="Date">
	12/2/2014, 3:00PM, 4556 Apt. 24, Fullerton, CA
	<br>
	<input type="submit">
</form>

<h3>20% Discount for you and your friends @ 4556 Apt. 24, Fullerton</h3>
<textarea>Hey Come over here!</textarea>
<h3>20% Discount for you and your friends @ 4556 Apt. 24, Fullerton</h3>
<textarea>We have 3 extra outlets for your guys</textarea>
<h3>20% Discount for you and your friends @ 4556 Apt. 24, Fullerton</h3>
<textarea>There is a live band tonight!</textarea>
{% endblock %}