{% extends "base.html" %}

{% block content %}
<form>
	<p>Do you have a prefer one date over another?
		<br>
		If <b>No</b>, go ahead and skip the rankings below.
	</p>
	<select name="preference">
		<option>Yes</option>
		<option>No</option>
	</select>
	<p>
	<b>1.)</b>12/2/2014, 3:00PM, 4556 Apt. 24, Fullerton, CA
	</p>
	<select name="priority1">
		<option>1</option>
		<option>2</option>
		<option>3</option>
	</select>
	<p>
	<b>2.)</b>12/2/2014, 3:00PM, 4556 Apt. 24, Fullerton, CA
	</p>
	<select name="priority2">
		<option>1</option>
		<option>2</option>
		<option>3</option>
	</select>
	<p>
	<b>3.)</b>12/2/2014, 3:00PM, 4556 Apt. 24, Fullerton, CA
	</p>
	<select name="priority3">
		<option>1</option>
		<option>2</option>
		<option>3</option>
	</select>
	<br>
	<br>
	<input type="submit">
</form>

<!--
<h3>20% Discount for you and your friends @ 4556 Apt. 24, Fullerton</h3>
<textarea>Hey Come over here!</textarea>
<h3>20% Discount for you and your friends @ 4556 Apt. 24, Fullerton</h3>
<textarea>We have 3 extra outlets for your guys</textarea>
<h3>20% Discount for you and your friends @ 4556 Apt. 24, Fullerton</h3>
<textarea>There is a live band tonight!</textarea>
-->

{% endblock %}