{% extends "base.html" %}

{% block content %}
<form>
	<div>Event1</div>
	<input type="date" name="date1" placeholder="Date">
	<br>
	<input type="time" name="time1">
	<br>
	<input type="string" name="place1" placeholder="Place">
	<br>
	<br>
	<div>Event2</div>
	<input type="date" name="date2" placeholder="Date">
	<br>
	<input type="time" name="time2">
	<br>
	<input type="string" name="place2" placeholder="Place">
	<br>
	<br>
	<div>Event3</div>
	<input type="date" name="date3" placeholder="Date">
	<br>
	<input type="time" name="time3">
	<br>
	<input type="string" name="place3" placeholder="Place">
	<br>

	<input type="submit">
</form>

{% endblock %}