{% extends "base.html" %}

{% block content %}
<h2>Welcome {{username}} <small><a href="/Logout">Logout</a></small></h2>

<a href="/CreateEvent">CreateEvent</a>
<br>
<h2>You've Just been Invited. Waiting for your Vote!</h2>
<p>
	<a href="/Vote">Vote</a>
	<!--Python code goes in here-->
</p>
<h2>Thanks for voting. Waiting For Friends to Vote</h2>
<p>
	{% for p in hangouts %}
	{{p.eventName}}
		<br>
	{% endfor %}
</p>
<!--<p>Pete's Bachelor Party</p>-->
<h2>Everyone Voted. Events You have Scheduled.</h2>
<p>
	<!--Python code goes in here-->
</p>
<!--<p>Michelle's Bachelertte</p>-->
{% endblock %}